.audio-manager {
  position: fixed;
  inset: auto 0 0;
  z-index: 1;

  background-color: var(--color-body-background);

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding-block: 1rem;
  padding-inline: var(--full-width-padding-inline);

  audio {
    flex: 1 1 25rem;
  }
}
