.faraaz {
  text-align: justify;

  .token {
    --underline-size: 1px;

    display: inline;

    background-image: linear-gradient(90deg, currentcolor, currentcolor);
    background-repeat: no-repeat;

    animation: dua-playing-fade-out var(--animation--duration--fast) ease-in-out
      forwards;

    &.quran {
      color: var(--color--quran);

      &::before {
        content: "﴿";
      }

      &::after {
        content: "﴾";
      }
    }

    &.playing {
      animation: dua-playing-fade-in var(--animation--duration--fast)
        ease-in-out forwards;
    }
  }

  &.arabic {
    font-family: "Amiri Quran", serif;
    font-size: 1.5em;
  }

  &.persian {
    line-height: 1.8;
  }

  &:has(.highlighted) {
    .token:not(.highlighted) {
      opacity: 20%;
    }
  }
}

@keyframes dua-playing-fade-in {
  from {
    background-size: 0 var(--underline-size);
    background-position: 100% bottom;
  }

  to {
    background-size: 100% var(--underline-size);
    background-position: 100% bottom;
  }
}

@keyframes dua-playing-fade-out {
  from {
    background-size: 100% var(--underline-size);
    background-position: 0 bottom;
  }

  to {
    background-size: 0 var(--underline-size);
    background-position: 0 bottom;
  }
}
