<h1>{{ activatedRoute.title | async }}</h1>

<app-audio-manager [src]="duaService.dua?.audioSource" (currentTimeChange)="currentTime = $event"></app-audio-manager>

<div #dua class="dua">
    <div class="faraaz" *ngFor="let faraaz of duaService.dua?.faraazes; let faraazIndex = index">
        <div class="arabic">
            <div
                *ngFor="let arabicToken of faraaz.arabicTokens; let tokenIndex = index"
                class="token"
                [class.quran]="arabicToken.isFromQuran"
                [class.highlighted]="faraazIndex === highlightedFaraazIndex && tokenIndex === highlightedTokenIndex"
                [class.playing]="arabicToken | isPlaying : currentTime"
                (mouseenter)="tokenMouseEnterHandler(faraazIndex, tokenIndex)"
                (mouseleave)="tokenMouseLeaveHandler()"
            >
                {{ arabicToken.text }}
            </div>
        </div>

        <div class="persian">
            <div
                *ngFor="let persianToken of faraaz.persianTokens; let tokenIndex = index"
                class="token"
                [class.quran]="persianToken.isFromQuran"
                [class.highlighted]="faraazIndex === highlightedFaraazIndex && tokenIndex === highlightedTokenIndex"
                [class.playing]="persianToken | isPlaying : currentTime"
                (mouseenter)="tokenMouseEnterHandler(faraazIndex, tokenIndex)"
                (mouseleave)="tokenMouseLeaveHandler()"
            >
                {{ persianToken.text }}
            </div>
        </div>
    </div>
</div>
