.page {
  .routes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    li {
      flex-grow: 1;

      a {
        box-shadow: var(--box-shadow-subtle);

        display: block;

        padding: 1rem;

        text-align: center;

        transition: transform var(--animation-duration-fast);

        &:hover {
          transform: translateY(-0.2rem);
        }
      }
    }
  }
}
